@font-face {
  font-family: Lato;
  src: url(../font/Lato/Lato-Regular.ttf);
  font-weight: normal; }
@font-face {
  font-family: Lato-bold;
  src: url(../font/Lato/Lato-Bold.ttf);
  font-weight: normal; }
@font-face {
  font-family: Lato-hairline;
  src: url(../font/Lato/Lato-Hairline.ttf);
  font-weight: normal; }
@font-face {
  font-family: Lato-light;
  src: url(../font/Lato/Lato-Light.ttf);
  font-weight: normal; }
html, body {
  height: 100%; }

*, html, body, ul, li {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 100%; }

div.container {
  max-width: 1180px;
  margin: auto;
  padding: 0rem 1rem; }

body {
  display: flex;
  flex-direction: column; }
  body header {
    min-height: 100%;
    background: url("../img/main_image.png") no-repeat center center;
    background-size: cover; }
    body header div.header-container {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      height: 100%;
      color: #fff; }
      body header div.header-container #menu {
        display: flex;
        justify-content: space-between; }
        body header div.header-container #menu ul {
          display: flex;
          align-items: center; }
          body header div.header-container #menu ul li {
            list-style-type: none;
            padding-left: 1rem;
            cursor: pointer; }
            body header div.header-container #menu ul li a {
              font-family: Lato-bold, Arial, Helvetica, sans-serif;
              font-size: 0.9rem;
              text-decoration: none;
              color: #fff; }
      body header div.header-container #center-text {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%; }
        body header div.header-container #center-text h3 {
          font-family: "Times New Roman", Times, serif;
          font-style: italic;
          font-size: 2rem;
          color: rgba(255, 255, 255, 0.7); }
        body header div.header-container #center-text h1 {
          font-family: Lato-bold, Arial, Helvetica, sans-serif;
          font-weight: normal;
          font-size: 5rem;
          line-height: 5rem; }
        body header div.header-container #center-text a {
          text-decoration: none;
          color: #fff; }
          body header div.header-container #center-text a #get-started {
            border: 2px solid #fff;
            border-radius: 3px;
            padding: 1rem;
            margin: 2rem;
            width: 10rem; }
            body header div.header-container #center-text a #get-started h4 {
              font-family: Lato-bold, Arial, Helvetica, sans-serif;
              font-weight: normal;
              font-size: 1rem; }
        body header div.header-container #center-text h5 {
          font-family: Lato, Arial, Helvetica, sans-serif;
          font-weight: normal;
          font-size: 1rem;
          color: rgba(255, 255, 255, 0.7); }
  body main section.section-1 div.tagline-container ul.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    padding: 4rem 0rem; }
    body main section.section-1 div.tagline-container ul.wrapper li.tagline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 337.14286px; }
      body main section.section-1 div.tagline-container ul.wrapper li.tagline div.img-tag-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.5rem;
        height: 6.5rem;
        border: solid 3px #000;
        border-radius: 100%; }
      body main section.section-1 div.tagline-container ul.wrapper li.tagline h4 {
        position: relative;
        padding-top: 0.7rem;
        padding-bottom: 0.3rem; }
        body main section.section-1 div.tagline-container ul.wrapper li.tagline h4:before {
          content: "";
          position: absolute;
          width: 70%;
          height: 1px;
          bottom: 0;
          left: 15%;
          border-bottom: 1px solid red; }
      body main section.section-1 div.tagline-container ul.wrapper li.tagline p {
        padding: 0.7rem 0rem 0rem 0rem;
        font-family: Lato-light, Arial, Helvetica, sans-serif; }
  body main section.section-2 {
    background-color: #f7f7f7; }
    body main section.section-2 div.main-container {
      display: flex;
      justify-content: space-between;
      padding-top: 4rem; }

/*# sourceMappingURL=style.css.map */
