@font-face {
    font-family: Lato;
    src: url(../font/Lato/Lato-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Lato-bold;
    src: url(../font/Lato/Lato-Bold.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Lato-hairline;
    src: url(../font/Lato/Lato-Hairline.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Lato-light;
    src: url(../font/Lato/Lato-Light.ttf);
    font-weight: normal;
}