@import 'font';


html, body {
	height: 100%;
}

*, html, body, ul, li {
	margin: 0;
	padding: 0;
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000;
}

div.container {
	padding-left: 4rem;
	padding-right: 4rem;
	max-width: 72rem;
	margin: auto;
}

.title {
	position: relative;
	padding-top: 0.7rem;
	padding-bottom: 0.3rem;

	&:before {
		content: "";
	    position: absolute;
	    width: 70%;
	    height: 1px;
	    bottom: 0;
	    left: 15%;
	    border-bottom: 1px solid red;
	}	
}

body {
	display: flex;
	flex-direction: column;
	

	header {
		min-height: 100%;
		width: 100%;

		background: url("../img/main_image.png") no-repeat center center;
		background-size: cover;

		div.header-container {
			display: flex;
			flex-direction: column;

			padding-top: 1rem;
			height: 100%;
			max-width: 100%;

			#menu {
				display: flex;
				justify-content: space-between;
				
				ul {
					display: flex;
					align-items: center;

					li {
						list-style-type: none;
						padding-left: 1rem;
						cursor: pointer;

						a {
							font-family: Lato-bold, Arial, Helvetica, sans-serif;
							font-size: 0.9rem;
							text-decoration: none;
							color: #fff;
						}
					}
				}
			}

			#center-text {
				align-self: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;

				height: 100%;

				h3 {
					font-family: "Times New Roman", Times, serif;
					font-style: italic;
					font-size: 2rem;
					color: rgba(255, 255, 255, 0.7);
				}

				h1 {
					font-family: Lato-bold, Arial, Helvetica, sans-serif;
					font-weight: normal;
					font-size: 5rem;
					line-height: 5rem;
					color: #fff;
				}

				a {
					text-decoration: none;

					#get-started {
					border: 2px solid #fff;
					border-radius: 3px;
					padding: 1rem;
					margin: 2rem;
					width: 10rem;

					h4 {
						font-family: Lato-bold, Arial, Helvetica, sans-serif;
						font-weight: normal;
						font-size: 1rem;
						color: #fff;
					}
				}

				}

				h5 {
						font-family: Lato, Arial, Helvetica, sans-serif;
						font-weight: normal;
						font-size: 1rem;
						color: rgba(255, 255, 255, 0.7);
					}
			}
		}
	}

	main {

		section.section-1 {

			div.tagline-container {
					padding-top: 4rem;
					padding-bottom: 4rem;

				ul.wrapper {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;

					list-style: none;



					// add padding for 2nd li


					li:nth-child(2) {
						margin: 0rem 2rem;
					}

					li.tagline {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						text-align: center;

						max-width: 22rem;

						div.img-tag-wrapper {
							display: flex;
							justify-content: center;
							align-items: center;

							width: 6.5rem;
							height: 6.5rem;

							border: solid 3px #000;
							border-radius: 100%;

						}

						p.tagline-text {
							padding: 0.7rem 0rem 0rem 0rem;
							font-family: Lato-light, Arial, Helvetica, sans-serif;
							line-height: 1.4rem;
						}
					}
				}
			}
		}

		section.section-2 {
			background-color: #f7f7f7;

			div.main-container {

				display: flex;
				justify-content: space-between;
				align-items: flex-start;

				padding-top: 4rem;

				div.img-wrap {
					min-width: 400px;

    				img {
    					max-width: 100%;
    					vertical-align: middle;
    				}
				}
				
				div.main-text {
					max-width: 33rem;
					min-width: 24rem;
					padding-left: 4rem;
					padding-top: 4rem;

					h4.title {
						margin-bottom: 0.7rem;
						&:before {
							content: "";
						    position: absolute;
						    width: 20%;
						    height: 1px;
						    bottom: 0;
						    left: 0;
						    border-bottom: 1px solid red;
						}	
					}

					p {
						margin-bottom: 2rem;
						
						font-family: Lato-light, Arial, Helvetica, sans-serif;
						line-height: 1.4rem;
					}

					div.store-wrap {
						display: flex;
						justify-content: space-between;
						max-width: 26rem;
					}
				}
			}
		}

		section.section-3 {
			background-color: rgba(74, 57, 73, 1);

			div.review-container {
				display: flex;
				flex-direction: column;
				align-items: center;

				background: url("../img/review_bg.png") center center;
				background-size: cover;

				padding-top: 6rem;
				padding-bottom: 6rem;

				h4, p {
					font-family: Lato-hairline, Arial, Helvetica, sans-serif;
					font-weight: normal;
					text-align: center;
					color: #fff;
					line-height: 3rem;

				}

				h4 {
					font-size: 1.4rem;
				}
			}
		}

		section.section-4 {

			h4 {
				margin-top: 4rem;
				margin-bottom: 2rem;
			}

			div.cusines {
				display: flex;
				flex-direction: column;
				align-items: center;

				max-width: 100%;
				margin: auto;
				padding: 0;

				div.cusine-wrap {
					display: flex;
					flex-wrap: wrap;
					width: 100%;

					div.cusine {
						flex: 1 1 20%;

						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						padding: 6rem 0rem;

						p {
							font-family: "Times New Roman", Times, serif;
							font-style: italic;
							font-weight: bold;
							font-size: 1rem;
							color: rgba(255, 255, 255, 0.8);
						}

						h2 {
							font-family: Lato-bold, Arial, Helvetica, sans-serif;
							font-size: 2rem;
							color: #fff;
						}
					}

					div.cusine-1 {
						background: url("../img/img1.png") center center;
						background-size: cover;
					}

					div.cusine-2 {
						background: url("../img/img2.png") center center;
						background-size: cover;
					}

					div.cusine-3 {
						background: url("../img/img3.png") center center;
						background-size: cover;
					}

					div.cusine-4 {
						background: url("../img/img4.png") center center;
						background-size: cover;
					}

					div.cusine-5 {
						background: url("../img/img5.png") center center;
						background-size: cover;
					}

					div.cusine-6 {
						background: url("../img/img6.png") center center;
						background-size: cover;
					}

					div.cusine-7 {
						background: url("../img/img7.png") center center;
						background-size: cover;
					}

					div.cusine-8 {
						background: url("../img/img8.png") center center;
						background-size: cover;
					}

					div.cusine-9 {
						background: url("../img/img9.png") center center;
						background-size: cover;
					}

					div.cusine-10 {
						background: url("../img/img10.png") center center;
						background-size: cover;
					}
				}
			}
		}

		section.section-5 {

			div.container {

				div.stats-wrap {
					display: flex;
					justify-content: space-between;

					padding: 3rem 0rem;
					
					div.stat {
						text-align: center;

						h2 {
							font-family: Lato-bold, Arial, Helvetica, sans-serif;
							font-size: 2rem;
						}

						p {
							font-family: Lato-light, Arial, Helvetica, sans-serif;
						}
					}
				}
			}
		}
	}

	footer {
		border-top: 1px solid #D2D2D2;
		background-color: #f7f7f7;

		div.footer-container {
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding-top: 2rem;
			padding-bottom: 2rem;

			font-size: 0.9rem;

			p.copyright {
				font-family: Lato-light, Arial, Helvetica, sans-serif;
				color: #8b8b8b;
			}


			ul.by {
				list-style-type: none;

				li h3 {
					font-family: Lato, Arial, Helvetica, sans-serif;
					color: #8b8b8b;

					a {
						text-decoration: none;
						color: #414141;
					}
				}
			}
		}
	}
}