section.section-4 {

	h4 {
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	div.cusines {
		display: flex;
		flex-direction: column;
		align-items: center;

		max-width: 100%;
		margin: auto;
		padding: 0;

		div.cusine-wrap {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			a.cusine-link {
				flex: 1 1 20%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				text-decoration: none;

				div.cusine {
					background-size: cover;
					padding: 6rem 0rem;
					width: 100%;
					text-align: center;

					p {
						font-family: "Times New Roman", Times, serif;
						font-style: italic;
						font-weight: bold;
						font-size: 1rem;
						color: rgba(255, 255, 255, 0.8);
					}

					h2 {
						font-family: Lato-bold, Arial, Helvetica, sans-serif;
						font-size: 2rem;
						color: #fff;
					}
				}
			}
			

			div.cusine-1 {
				background: url("../img/img1.jpg") center center;
			}

			div.cusine-2 {
				background: url("../img/img2.jpg") center center;
			}

			div.cusine-3 {
				background: url("../img/img3.jpg") center center;
			}

			div.cusine-4 {
				background: url("../img/img4.jpg") center center;
			}

			div.cusine-5 {
				background: url("../img/img5.jpg") center center;
			}

			div.cusine-6 {
				background: url("../img/img6.jpg") center center;
			}

			div.cusine-7 {
				background: url("../img/img7.jpg") center center;
			}

			div.cusine-8 {
				background: url("../img/img8.jpg") center center;
			}

			div.cusine-9 {
				background: url("../img/img9.jpg") center center;
			}

			div.cusine-10 {
				background: url("../img/img10.jpg") center center;
			}
		}
	}
}