section.section-4 {

	h4 {
		margin-top: 4rem;
		margin-bottom: 2rem;		
	}

	div.cuisines {
		display: flex;
		flex-direction: column;
		align-items: center;

		max-width: 100%;
		margin: auto;
		padding: 0;

		div.cuisine-wrap {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			a.cuisine-link {
				flex: 1 1 20%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				text-decoration: none;

				overflow: hidden;

				@media screen and (max-width: 1300px) {
					flex-basis: 25%;
				}

				@media screen and (max-width: 1000px) {
					flex-basis: 50%;
				}

				div.cuisine {
					background-size: cover;
					padding: 6rem 0rem;
					width: 100%;
					text-align: center;

					transition-duration: 0.2s;

					&:hover {
						transform: rotate(12deg) scale(1.3);
					}
					
					@media screen and (max-width: 1000px) {
						padding: 10rem 0rem;
					}

					@media screen and (max-width: 800px) {
						padding: 9rem 0rem;
					}

					@media screen and (max-width: 700px) {
						padding: 8rem 0rem;
					}

					@media screen and (max-width: 600px) {
						padding: 7rem 0rem;

						h2 {
							font-size: 1.5rem !important;
						}
					}

					@media screen and (max-width: 500px) {
						padding: 5rem 0rem;
					}

					@media screen and (max-width: 400px) {
						padding: 4rem 0rem;

						h2 {
							font-size: 1.3rem !important;
						}
					}


					p {
						font-family: "Times New Roman", Times, serif;
						font-style: italic;
						font-weight: bold;
						font-size: 1rem;
						color: rgba(255, 255, 255, 0.8);

						transform: rotate(-12deg) scale(0.9);

					}

					h2 {
						font-family: Lato-bold, Arial, Helvetica, sans-serif;
						font-size: 2rem;
						color: #fff;

						transform: rotate(-12deg) scale(0.9);
					}
				}
			}
			

			div.cuisine-1 {background: url("../img/img1.jpg") center center;}

			div.cuisine-2 {background: url("../img/img2.jpg") center center;}

			div.cuisine-3 {background: url("../img/img3.jpg") center center;}

			div.cuisine-4 {background: url("../img/img4.jpg") center center;}

			div.cuisine-5 {background: url("../img/img5.jpg") center center;}

			div.cuisine-6 {background: url("../img/img6.jpg") center center;}

			div.cuisine-7 {background: url("../img/img7.jpg") center center;}

			div.cuisine-8 {background: url("../img/img8.jpg") center center;}

			div.cuisine-9 {background: url("../img/img9.jpg") center center;}

			div.cuisine-10 {background: url("../img/img10.jpg") center center;}
		}
	}
}