footer {
	border-top: 1px solid #D2D2D2;
	background-color: #f7f7f7;

	div.footer-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		padding-top: 2rem;
		padding-bottom: 2rem;

		font-size: 0.9rem;

		.footer-element {
			
			@media screen and (max-width: 600px) {
				flex: 1 1 100%;
				text-align: center;

			}
		}

		p.copyright {
			font-family: Lato-light, Arial, Helvetica, sans-serif;
			color: #8b8b8b;
		}
		
		a.language-switch {
			text-decoration: none;
			
			div.button {
				padding: 0.5rem;
				border: 2px solid #414141;
				border-radius: 3px;

				p {
					font-family: Lato-light, Arial, Helvetica, sans-serif;
					color: #8b8b8b;
				}
			}

			@media screen and (max-width: 600px) {
				padding-top: 1rem;

			}
		}

		ul.by {
			list-style-type: none;

			@media screen and (max-width: 600px) {
				padding-top: 1rem;

			}	

			li h3 {
				font-family: Lato, Arial, Helvetica, sans-serif;
				color: #8b8b8b;

				a {
					text-decoration: none;
					color: #414141;
				}
			}
		}
	}
}